<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgWqQ5jLjTLxKX_kRBlboQpysrCiXI2ns</string>
	<key>GCM_SENDER_ID</key>
	<string>354953703552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amazon.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-502de</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-502de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354953703552:ios:5226c3d537127f2a4a7665</string>
</dict>
</plist>